<h1>〇エリアごとの会場詳細を見る</h1>
<h2>〇北海道・東北エリア</h2>

<h3>〇札幌ドーム</h3>
<br>住所：北海道札幌市豊平区羊ケ丘１</br>
<br>郵便番号：〒062-0045</br>
<br>電話番号：011-850-1000</br>
<br>最大​収容人数：53820人</br>
<a href="http://www.sapporo-dome.co.jp/">ホームページはこちら</a>


<h3>〇真駒内セキスイハイムアイスアリーナ</h3>
<br>住所：北海道札幌市南区真駒内公園１−１</br>
<br>郵便番号：〒005-0017</br>
<br>電話番号：011-581-1972</br>
<br>最大収容人数：11770人</br>
<br><a href="http://www.makomanai.com/icearena/">ホームページはこちら</a></br>​

<h3>〇北海道立総合体育センター(北海きたえーる)</h3>
<br>住所：北海道札幌市豊平区豊平５条１１−１−１ </br>
<br>郵便番号：〒062-0905 </br>
<br>電話番号：011-820-1703</br>
<br>最大収容人数：10000人</br>
<a href=" http://www.kitayell.jp/ ">ホームページはこちら</a>


<h3>〇宮城セキスイハイムスーパーアリーナ(グランディ・21, 宮城県総合運動公園総合体育館)</h3>
<br>住所：宮城県宮城郡利府町菅谷字舘40-1 </br>
<br>郵便番号：〒981-0122 </br>
<br>電話番号：022-356-1122 </br>
<br>最大収容人数：7063人 </br>	
<a href=" https://www.mspf.jp/grande21/index.php?action=sisetu_shoukai_arena ">ホームページはこちら</a>


