<h1>〇エリアごとの会場詳細を見る</h1>
<h2>〇北海道・東北エリア</h2>

<h3>〇札幌ドーム</h3>
<br>住所：北海道札幌市豊平区羊ケ丘１</br>
<br>郵便番号：〒062-0045</br>
<br>電話番号：011-850-1000</br>
<br>最大​収容人数：53820人</br>
<br>ホームページ：http://www.sapporo-dome.co.jp/</br>

<h3>〇真駒内セキスイハイムアイスアリーナ</h3>
<br>住所：北海道札幌市南区真駒内公園１−１</br>
<br>郵便番号：〒005-0017</br>
<br>電話番号：011-581-1972</br>
<br>最大収容人数：11770人</br>
<br>ホームページ：http://www.makomanai.com/icearena/</br>​

<h3>〇北海道立総合体育センター(北海きたえーる)</h3>


