<h1>〇エリアごとの会場詳細を見る</h1>
<h2>〇関東エリア</h2>
<h3>〇東京ドーム</h3>
<br>住所：東京都文京区後楽1-3-61 </br>
<br>郵便番号：〒112-0004 </br>
<br>電話番号：03-5800-9999</br>
<br>最大収容人数：55000人</br>
<a href=" http://www.tokyo-dome.co.jp/dome/ ">ホームページはこちら</a>


<h3>〇国立代々木競技場第一体育館</h3>
<br>住所：東京都渋谷区神南２−１−１ </br>
<br>郵便番号：〒150-0041</br>
<br>電話番号：03-3468-1171</br>
<br>最大収容人数：12934人</br>
<a href=" http://www.jpnsport.go.jp/yoyogi/ ">ホームページはこちら</a>



<h3>〇日本武道館</h3>
<br>住所：東京都千代田区北の丸公園２−３ </br>
<br>郵便番号：〒102-8321</br>
<br>電話番号：03-3216-5100(連絡内容によって異なる)</br>
<br>最大収容人数：14471人</br>
<a href=" http://www.nipponbudokan.or.jp/ ">ホームページはこちら</a>

<h3>〇幕張メッセ</h3>
<br>住所：千葉県千葉市美浜区中瀬２−１ </br>
<br>郵便番号：〒261-8500</br>
<br>電話番号：043-296-0001</br>
<br>最大収容人数：国際展示場1-8ホール1ホール約7000人～最大10000人
国際展示場9-11ホール3ホール合わせて約15000人　イベントホール 9000人</br>
<a href=" http://www.m-messe.co.jp/ ">ホームページはこちら</a>

<h3>〇パシフィコ横浜国立大ホール</h3>
<br>住所：神奈川県横浜市西区みなとみらい１−１−１ </br>
<br>郵便番号：〒220-0012</br>
<br>電話番号：045-221-2155</br>
<br>最大収容人数：5002人</br>
<a href=" http://www.pacifico.co.jp/visitor/info/convention.html ">ホームページはこちら</a>

<h3>〇さいたまスーパーアリーナ</h3>
<br>住所：埼玉県さいたま市中央区新都心８ </br>
<br>郵便番号：〒330-0081</br>
<br>電話番号：048-601-1122</br>
<br>最大収容人数：37000人</br>
<a href=" https://www.saitama-arena.co.jp/ ">ホームページはこちら</a>


<h3>〇横浜アリーナ</h3>
<br>住所： 神奈川県横浜市港北区新横浜３−１０</br>
<br>郵便番号：〒222-0033</br>
<br>電話番号：045-474-4000</br>
<br>最大収容人数：17000人</br>
<a href=" http://www.yokohama-arena.co.jp/ ">ホームページはこちら</a>
