<h1>〇エリアごとの会場詳細を見る</h1>
<h2>〇近畿・中国エリア</h2>
<h3>〇京セラドーム大阪</h3>
<br>住所：大阪府大阪市 西区千代崎3−中2−1 </br>
<br>郵便番号：〒550-0023</br>
<br>電話番号：06-6586-0106</br>
<br>最大収容人数：55000人</br>
<a href=" http://www.kyoceradome-osaka.jp/index.php ">ホームページはこちら</a>


<h3>〇大阪城ホール</h3>
<br>住所：大阪府大阪市中央区大阪城３−１ </br>
<br>郵便番号：〒540-0002</br>
<br>電話番号：0570-0345-33</br>
<br>最大収容人数：16000人</br>
<a href=" http://www.osaka-johall.com/ ">ホームページはこちら</a>

<h3>〇三重県営サンアリーナ</h3>
<br>住所：三重県伊勢市朝熊町字鴨谷４３８３−４ </br>
<br>郵便番号：〒516-0021</br>
<br>電話番号：0596-22-7700</br>
<br>最大収容人数：11000人</br>
<a href=" http://sun-arena.or.jp/ ">ホームページはこちら</a>


<h3>〇広島グリーンアリーナ(広島県立総合体育館)</h3>
<br>住所：広島県広島市中区基町４−１ </br>
<br>郵便番号：〒730-0011</br>
<br>電話番号：082-228-1111</br>
<br>最大収容人数：約10000人</br>
<a href=" http://www.sports-hiroshima.jp/hpsc/ ">ホームページはこちら</a>

