<h1>〇エリアごとの会場詳細を見る</h1>
<h2>〇九州エリア</h2>
<h3>〇福岡PayPayドーム</h3>
<br>住所： 福岡県福岡市中央区地行浜２−２−２</br>
<br>郵便番号：〒810-8660</br>
<br>電話番号：092-844-1189</br>
<br>最大収容人数：40178人</br>
<a href=" http://www.softbankhawks.co.jp/stadium/ ">ホームページはこちら</a>


<h3>〇マリンメッセ福岡A館</h3>
<br>住所：福岡市博多区沖浜町7-1 </br>
<br>郵便番号：〒812-0031</br>
<br>電話番号：092-262-3111</br>
<br>最大収容人数：15000人</br>
<a href=" http://www.marinemesse.or.jp/messe/ ">ホームページはこちら</a>

