<h1>〇エリアごとの会場詳細を見る</h1>
<h2>〇中部エリア</h2>
<h3>〇バンテリンドームナゴヤ</h3>
<br>住所：愛知県名古屋市東区大幸南１−１−１ </br>
<br>郵便番号：〒461-0047</br>
<br>電話番号：052-719-2121</br>
<br>最大収容人数：49427人(2021年使用時)</br>
<a href=" http://www.nagoya-dome.co.jp/ ">ホームページはこちら</a>


<h3>〇日本ガイシホール</h3>
<br>住所：愛知県名古屋市南区東又兵ヱ町５丁目１－１６</br>
<br>郵便番号：〒457-0833</br>
<br>電話番号：052-614-3111</br>
<br>最大収容人数：10000人</br>
<a href=" http://www.nespa.or.jp/hall/index.html ">ホームページはこちら</a>


<h3>〇朱鷺メッセ 新潟コンベンションセンター</h3>
<br>住所：新潟県新潟市中央区万代島６−１ </br>
<br>郵便番号：〒950-0078</br>
<br>電話番号：025-246-8400</br>
<br>最大収容人数：10000人</br>
<a href=" http://www.tokimesse.com/ ">ホームページはこちら</a>


<h3>〇サンドーム福井</h3>
<br>住所：福井県越前市瓜生町５−１−１ </br>
<br>郵便番号：〒915-0096</br>
<br>電話番号：0778-21-3106</br>
<br>最大収容人数：10000人</br>
<a href=" http://www.sankan.jp/sundome/ ">ホームページはこちら</a>


<h3>〇静岡エコパアリーナ</h3>
<br>住所：静岡県袋井市愛野2300-1 </br>
<br>郵便番号：〒437-0031</br>
<br>電話番号：0538-41-1800</br>
<br>最大収容人数：10000人</br>
<a href=" http://www.ecopa.jp/ ">ホームページはこちら</a>
